@model ACIC.AMS.Dto.User

<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">User Profile</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    User Details
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" style="margin-top:20px;">
                        <div class="form-body">
                            <form method="post" enctype="multipart/form-data" action="/User/Profile" oninput='up2.setCustomValidity(ConfirmPassword.value != Password.value ? "Passwords do not match." : "")'>
                                <input type="hidden" value="@Model.Id" name="Id">
                                <input type="hidden" value="@Model.Role" name="Role">
                                <input type="hidden" value="@(Model.Active ? "true" : "false")" name="Active">
                                <input type="hidden" value="@Model.EmailAddress" name="EmailAddress">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input type="text" class="form-control" required id="txtFullName" value="@Model.EmailAddress" name="FullName">
                                </div>
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input type="text" class="form-control" id="txtEmailAddress" disabled value="@Model.EmailAddress">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" required id="txtPassword" value="@Model.Password" name="Password">
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" required id="txtConfirmPassword" value="@Model.Password" name="ConfirmPassword">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn green pull-right" id="btnSave">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>

</div>